# Created by venv; see https://docs.python.org/3/library/venv.html
.env
./agent/__pycache__/freecad_executor.cpython-313.pyc
./agent/__pycache__/github.cpython-313.pyc
./agent/__pycache__/main.cpython-313.pyc
./freecad/__pycache__/freecad_agent_listener.cpython-313.pyc

